<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aplikasi.navigasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Navigasi">
        <activity
            android:name=".FinalActivity"
            android:label="Final Activity" />
        <activity android:name=".Fourth_Activity"
            android:label="Fourth Activity"/>
        <activity android:name=".Third_Activity"
            android:label="Third Activity"/>
        <activity android:name=".SecondActivity"
            android:label="Second Activity"/>
        <activity android:name=".MainActivity"
            android:label="Main Activity"
            android:parentActivityName=".FinalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>